<div class="panel panel-primary">
  <div class="panel-heading">An HTTP Request Inspection Tool</div>
  <div class="panel-body">
    RequestBen lets you send an HTTP request to a URL, allowing you to inspect what the HTTP client is sending.
  </div>
</div>

<p>
  <a class="btn btn-primary" href="#" role="button">Create RequestBen</a>
</p>
